[Unit]
Description=WEBYCP Next.js frontend
Documentation=https://github.com/GVALFER/WEBYCP
Wants=network-online.target webycp-server.service
After=network-online.target webycp-server.service

[Service]
Type=simple
User=webycp
Group=webycp
EnvironmentFile=/etc/webycp/web.env
ExecStart=/usr/lib/webycp/node /usr/share/webycp/web/server.js
WorkingDirectory=/usr/share/webycp/web
Restart=on-failure
RestartSec=5s
TimeoutStopSec=30s
UMask=0077

AmbientCapabilities=
CapabilityBoundingSet=
LockPersonality=true
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
